.main__middle__button {
	margin-top: 2em;
    padding-top: 5px;
    width: 14em;
    height: 42px;
    line-height: 42px;
    background: #000;
    border-radius: 0.3em;
    border: 0;
    color: #eff0f1;
    font-family: $main-font;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: ease-out 1s;
    @media  (max-width: 1200px) {
    	margin-top: 3em;
	    padding-top: 25px;
	    width: 13em;
	    height: 60px;
    }
}