.main__middle {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    padding: 0 2em;
    .main__middle__img {
    	width: 21.5em;
	    margin-top: 3em;
	    animation-duration: 4s;
	    animation-delay: 1s;
	}
	div.dc_animated {
		font-size: 5.3em;
	    font-family: $main-font;
	    text-transform: uppercase;
	    letter-spacing: -3.5px;
	    cursor: default;
	    animation-duration: 8s;
	    animation-delay: 1s;
	}
	span.dc_animated {
		font-size: 3em;
	    font-family: $main-font;
	    text-transform: uppercase;
	    letter-spacing: 1.42em;
	    width: 7.3em;
	    cursor: default;
	    animation-duration: 8s;
	    animation-delay: 1s;
	}
	.dc_description {
		margin-top: 1em;
		font-size: 1em;
	    width: 22em;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300;
	}

@import '_button_main';	
@import 'socials';
}