$font_color: #646464;
$main-font: 'Bank Gothic Bold', 'Open Sans', sans-serif;

@font-face {
	font-family: 'Bank Gothic Bold';
	src: url('../fonts/BankGothicBold.ttf');
	font-weight: bold;
}

@font-face {
	font-family:'FontAwesome';
}

